<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Public Example</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <p>Click <a th:href="@{/page/greeting}">here</a> to see a greeting.</p>
        <p>Click <a th:href="@{/page/hello}">here</a> to see a hello.</p>
        <p>Click <a th:href="@{/page/customer}">here</a> to see some customers.</p>
    </body>
</html>